/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/doctrine-dbal
/bin/generate-token
/bin/security-checker
/bin/doctrine
/bin/doctrine.php
/composer.phar
/vendor/
/web/bundles/
